.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.paragraph {
  color: white;
  text-align: justify;
background-color: grey;
}

.desktop-img {
  position: relative;
  display: inline-block;
  margin-top: -40px;
  padding: 0;
  width: 100%
}

.text {
  position: absolute;
  right: 600px;
  top: 250px;
  line-height: 1.6;
}

.logo {
  position: absolute;
  top: 10px;
  left: 18px;
}

.illustration-img {
  position: absolute;
  top: 225px;
  left: 18px;
}

.attribution {
width: 50%;
text-align: center;
opacity: .7;
}

.button {
  position: absolute;
  top: 800px;

}
