.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

h1 {
  color: #696969;
  font-family: 'Poppins', sans-serif;
}

.paragraph {
  color: #696969;
  position: relative;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
}

.desktop-img {
  position: relative;
  margin-top: -400px;

}

.text {
  position: relative;
  top: 100px;
  left: 650px;
  line-height: 1.6;
}

.logo {
  position: absolute;
  top: 50px;
  left: 40px;
}

.illustration-img {
  position: absolute;
  width: 600px;
  top: 125px;
  left: 18px;
}

.attribution {
width: 50%;
text-align: center;
opacity: .7;
}

.button {
  position: absolute;
  top: 325px;
  left: 750px;
}
